nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
}

.primary-button {
    background: #FD6E0A;
    border: 0;
    color: var(--white-color, #FFF);
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 18px;
}

.header {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 50px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hardie-photo {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}